{% extends 'base.html.twig' %}

{% block title %}New Bet
{% endblock %}

{% block body %}
	<h1>Create new Bet</h1>
	<div id="betPostForm">
		{% verbatim %}
		{% endverbatim %}
		 {{ include('bet/_form.html.twig') }}
        <BetPostForm />
   </div>

	
	{# <button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }} #}

	<a href="{{ path('bet_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('build/postForm.js') }}"></script>
{% endblock %}